bin
.DS_Store
target
.idea
*.iml
build/com\.eclipsesource\.jaxrs\.jersey\.min/\.classpath

build/com\.eclipsesource\.jaxrs\.jersey\.min/\.project

build/com\.eclipsesource\.jaxrs\.jersey\.min/\.settings/
